#Python environment
venv/
__pycache__/
*.__pycache__


#Node dependencies
node_modules/
.eslintcache

#Environment Variables & secrets
.env
.env.local
.env.development.local

#Production builds
dist/
build/